
@import "tailwindcss/theme.css";
@import "tailwindcss/preflight.css";
@import "tailwindcss/utilities.css";

@theme {
    --font-outfit: "Outfit", sans-serif;
    --font-inter: "Inter", sans-serif;
}

::-webkit-scrollbar {
  display: none
}

*{
  scrollbar-width: none;
}

.ant-form-item-explain-error {
  font-size: 13px !important;
}

.ant-form-item {
  margin-bottom: 12px !important;
}

@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none; 
  }
  .no-scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
  }

  .ant-input, .ant-select-selector, .ant-picker {
    box-shadow: none !important;
    outline: none !important;
  }

  .ant-btn {
    box-shadow: none !important;
  }

  .ant-picker-focused, .ant-input-focused, .ant-select-focused .ant-select-selector {
    box-shadow: none !important;
    outline: none !important;
  }
}

.small-date-picker-popup .ant-picker-panel {
  min-width: 190px !important;
  width: 190px !important;
  font-size: 12px !important;
}

.small-date-picker-popup .ant-picker-cell-inner {
  padding: 0.25rem 0.25rem !important;
}

.small-date-picker-popup .ant-picker-header,
.small-date-picker-popup .ant-picker-footer {
  padding: 0.25rem 0.35rem !important;
}

.small-date-picker-popup .ant-picker-header-view button,
.small-date-picker-popup .ant-picker-header-super-prev,
.small-date-picker-popup .ant-picker-header-super-next,
.small-date-picker-popup .ant-picker-header-prev,
.small-date-picker-popup .ant-picker-header-next {
  font-size: 12px !important;
}
